# ril related services
service ril-daemon /system/bin/rild -l libsoftwinner-ril.so -- -d /dev/ttyUSB2
	class main
	socket rild stream 660 root radio
	socket rild-debug stream 660 radio system
	user root
	disabled
	group radio cache inet misc audio sdcard_rw log

service u3gmonitor /system/bin/u3gmonitor
	class main
	user root
	group root
	disabled
	oneshot