on init
    insmod /nand.ko
    insmod /touch.ko
    insmod /keyboard.ko
    insmod /disp.ko
    insmod /lcd.ko
    insmod /hdmi.ko
    insmod /sunxi-keyboard.ko
    insmod /inet_ctp.ko
		insmod /gslX680new.ko
		insmod /gslX680.ko
		insmod /gt9xxf_ts.ko
		insmod /gt9xx_ts.ko
		insmod /ft5x_ts.ko
		insmod /ft5402.ko	

